body {
    background-image: url(background.webp);
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#clock-container {
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

#time {
    font-family: sans-serif;
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    color:azure
}