  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

  body {
    font-family: Raleway;
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    background: #FFE66D;
  }

  .navbar {
    width: 100%;
    background: #FF6B6B;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    border: 3px solid #F4F4F4;
  }

  .navbar h2 {
    display: flex;
    color: #F4F4F4;
    font-size: 34px;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 0 25px;
  }

  .nav-links {
    display: flex;
    margin-left: auto;
  }

  .nav-link {
    color: #F4F4F4;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    padding: 0 25px;
  }